body {
  background-image: url(http://www.planwallpaper.com/static/images/518164-backgrounds.jpg);
}

h1 {
  background-color: #1E90FF;
}


.center{
  text-align: center;
}

#blob {
  border: 5px solid white;
  border-radius: 25px;
}

button {
  position: relative;
  top:50%;
  left:50%;
  background-color: #1E90FF;

}

h2 {
  	background-color: #1E90FF
}

	#create {
    height: 100px;
   width: 400px;
  }

  #dropdown {
    width:150px;
    height:400px;
  }
