<!DOCTYPE html>
<html>
  <head id="head">
    <title>GetVentures</title>
    <h1 class= "center">Plan your Adventure!</h1>
    <link rel ="stylesheet" type="text/css" href="stylesheets/styles.css">
  </head>

  <body>
    <form method =post action="EventHandler">
    <div id="event">

      <p class = "center">Create a Name for this Event <input type="text" name="name"/></p>

    </div>

    <div class= "center" id = "blob">
      <p> <h1 class= "center">Invite Friends!</h1>

      <p class= "center">Add Friend #1 Email <input type="email" name="email1"/></p>
      <p class= "center">Add Friend #2 Email <input type="email" name="email2"/></p>
      <p class= "center">Add Friend #3 Email <input type="email" name="email3"/></p>

    <h2 class= "center">Select what you would like to do!</h2>
      <select class= "center">
      <option class= "center" value="restuarant" >Restaurant</option>
      <option class= "center" value="cafe" >Cafe</option>
      <option class= "center" value="park" >Park</option>
      <option class= "center" value="shopping_mall" >Shopping</option>
      <option class= "center" value="night_club" >Night Club</option>
      <option class= "center" value="amusement_park">Amusement Park</option>
    </select>
</div>



      <p><button id = "create"> <type="submit">Create your own adventure!</button></p>


  </form>

  <div>
    <img src="http://blogs-images.forbes.com/steveolenski/files/2015/07/Messe_Luzern_Corporate_Event.jpg" style="width:304px;height:228px;">


  </div>
</body>
</html>
