<!DOCTYPE html>
<html>
  <head id="head">
    <title>GetVentures</title>
    <h1>Plan your Adventure!</h1>
    <link rel ="stylesheet" type="text/css" href="stylesheets/styles.css">
  </head>

  <body>
    <form method =post action="EventHandler">
    <div id="event">

      <p class = "center">Create a Name for this Event <input type="text" name="name"/></p>

    </div>

    <div id = "blob">
      <p> <h1>Invite Friends!</h1>

      <p class= "center">Add Friend #1 Email <input type="email" name="email1"/></p>
      <p class= "center">Add Friend #2 Email <input type="email" name="email2"/></p>
      <p class= "center">Add Friend #3 Email <input type="email" name="email3"/></p>

    <h2>Select what you would like to do!</h2>
      <select>
      <option value="restuarant" >Restaurant</option>
      <option value="cafe" >Cafe</option>
      <option value="park" >Park</option>
      <option value="shopping_mall" >Shopping</option>
      <option value="night_club" >Night Club</option>
      <option value="amusement_park">Amusement Park</option>
    </select>


      <p><button class="center" type="submit">Create your own adventure!</button></p>
    </div>
  </form>
</body>
</html>
