<!DOCTYPE html>
<html>
  <head id="head">
    <title>GetVentures</title>
    <h1 class= "center">Plan your Adventure!</h1>
    <link rel ="stylesheet" type="text/css" href="stylesheets/styles.css">
  </head>

  <body>
    <form method =post action ="event">
    <div id="event">

      <p class = "center">Create a Name for this Event <input type="text" name="session_name"/></p>

    </div>

    <div class= "center" id = "blob">
      <p> <h1 class= "center">Invite Friends! (leave email line blank)</h1>

      <p class= "center">Add Friend #1 Email <input type="email" name="session_guest"/></p>
      <p class= "center">Add Friend #2 Email <input type="email" name="session_guest"/></p>
      <p class= "center">Add Friend #3 Email <input type="email" name="session_guest"/></p>
      <p class= "center">Add Friend #4 Email <input type="email" name="session_guest"/></p>
      <p class= "center">Add Friend #5 Email <input type="email" name="session_guest"/></p>


    <h2 class= "center">Select what you would like to do!</h2>
      <select id="dropdown" name="place_type" class= "center">
      <option class= "center" value="restuarant" >Restaurant</option>
      <option class= "center" value="cafe" >Cafe</option>
      <option class= "center" value="park" >Park</option>
      <option class= "center" value="shopping_mall" >Shopping</option>
      <option class= "center" value="night_club" >Night Club</option>
      <option class= "center" value="amusement_park">Amusement Park</option>
    </select>
</div>



      <p><button id = "create"> <type="submit">Create your own adventure!</button></p>


  </form>

  <div>


  </div>
</body>
</html>
