<!DOCTYPE html>
<!--The button here should redirect to EventHandler and should be of the type GET /
	This is because in main.py, a GET/ request renders the event planning page.
-->
<html>
<div>
  <head id="head">
    <title>GetVentures</title>
    <h1 class="center">Welcome to GetVentures</h1>
    <h5 class="center">A place for meeting up with friends and planning adventures</h5>
    <link rel ="stylesheet" type="text/css" href="stylesheets/styles.css">
  </head>
<form method = POST>
      <button type="submit" >Plan your own adventure</button>
</div>
</form>
</body>
</html>
