<!DOCTYPE html>
<html>
  <head>
    <title>GetVentures</title>
    <h1 class= "center">Enter the following information to register!</h1>
    <link rel ="stylesheet" type="text/css" href="stylesheets/styles.css">
  </head>

  <body>
    <form method =post>
    <div class = "center">
      <b>First name:</b> <input type = "text" name="firstname"><br>
      <b>Last name:</b> <input type = "text" name="lastname"><br>
      <b>Email Address:</b><input type = "email" name="email"><br>
    </div>

    <div>
      <p type = "text" id="lat" name="lat"></p>
      <p type = "text" id="long" name="long"></p>
    </div>


      <button id = "enter"> <type="submit">Submit your info!</button>


  </form><br><br><br>

  <div class= "center">
    <img  src="https://lh3.googleusercontent.com/--cuJjE1uaFY/AAAAAAAAAAI/AAAAAAAAAAA/4fahE7RgoKA/photo.jpg"  style="width:280px;height:228px;">


  </div>
  <script src="scripts/getlocation.js"></script>
</body>
</html>
