<!DOCTYPE html>
<html>
  <head>
    <title>GetVentures</title>
    <h1 class= "center">Enter the following information to register!</h1>
    <link rel ="stylesheet" type="text/css" href="stylesheets/styles.css">
    <style>
      #locationdata {display: none;} 
    </style> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  </head>

  <body>
    <form method = POST class=
    "center">
    <div>
      <b>First name:</b> <input type = "text" name="firstname"><br>
      <b>Last name:</b> <input type = "text" name="lastname"><br>
    </div>

    <div id="locationdata" >
      <p> <input type = "text" id="lat" name="lat"></p>
      <p> <input type = "text" id="long" name="long"></p>
    </div>

    <div class="center">


      <button id = "enter"> <type="submit">Submit your info!</button>
    </div>


  </form><br><br><br>

  <div class= "center">
    <img  src="https://lh3.googleusercontent.com/--cuJjE1uaFY/AAAAAAAAAAI/AAAAAAAAAAA/4fahE7RgoKA/photo.jpg"  style="width:280px;height:228px;">


  </div>
  <script src="scripts/getlocation.js"></script>
</body>
</html>
